<div class="content p-1">
    <div class="list-group-item">
        <div class="d-flex">
            <div class="mr-auto p-2">
                <h2 class="display-4 titulo">Cadastrar Usuários</h2>
            </div>
            <div class="p-2">
                <a href="/admin/usuario">
                    <button class="btn btn-outline-info btn-sm">
                        Listar
                    </button>
                </a>
            </div>
        </div>
        {{>_msg}}
        <hr>
        <form action="/admin/add-usuario" method="POST">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label><span class="text-danger">*</span> Nome</label>
                    <input name="nome" type="text" class="form-control" id="nome" placeholder="Nome da categoria de pagamento" autofocus value="{{usuario.nome}}">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label><span class="text-danger">*</span> E-mail</label>
                    <input name="email" type="email" class="form-control" id="email" placeholder="Seu melhor E-mail" value="{{usuario.email}}">
                </div>
            </div>
             <div class="form-row">
                <div class="form-group col-md-12">
                    <label><span class="text-danger">*</span> Senha</label>
                    <input name="password" type="password" class="form-control" id="password" placeholder="Sua Senha">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label><span class="text-danger">*</span> Confirma Senha</label>
                    <input name="rep_password" type="password" class="form-control" id="rep_password" placeholder="Confirma a Senha">
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label><span class="text-danger">*</span> Nível de Acesso</label>
                    <select name="nivacesso" id="nivacesso" class="form-control">
                        <option value="{{nivacesso._id}}">{{nivacesso.nome}}</option>
                        {{#each nivacessos}}
                            <option value="{{_id}}">{{nome}}</option>
                        {{else}}
                            <option value="">Nenhuma Categoria de pagamento encontrado</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <p>
                <span class="text-danger">* </span>Campo obrigatório
            </p>
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </form>
    </div>
</div>